@use '../abstracts/vars';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: vars.$base-fs;
}

body {
    font-family: vars.$ff-primary;
}

.center {
    display: flex;
    justify-content: center;
}


.align-end {
    display: flex;
    justify-content: flex-end;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
