@use '../abstracts/vars';

* {
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size: vars.$base-fs;
}

body {
    font-family: vars.$ff-primary;
}

.center {
    display: flex;
    justify-content: center;
}


.align-end {
    display: flex;
    justify-content: flex-end;
}

.overflow-card {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; // Ajusta la altura máxima según el número de líneas y el tamaño del texto
    white-space: normal; // Puedes ajustar según tus necesidades
  }

  .overflow {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1rem;
    margin-right: 0.8rem;
  }
  
  