@use '../abstracts/vars';
@use '../abstracts/mixins';

.text-question{
    @include mixins.custom-font(vars.$clr-gray-400, vars.$fw-reg);

    text-decoration: underline;
    opacity: 0.8;
}

.text-orange{
    color: vars.$clr-orange-300;
}

.text-forms{
    @include mixins.custom-font(vars.$clr-gray-400, vars.$fw-med);
}

.text-med{
    @include mixins.custom-font(vars.$clr-black, vars.$fw-med);
}

.text-nevbar{
    color: vars.$clr-white !important ;
}

.text-cards-categories{
    font-weight: vars.$fs-xsm;
}

.text-label-time{
    font-size: vars.$fs-xsm;
}

.text-title-recipe{
    text-decoration: none !important;
    color: vars.$clr-black;
}

.user-name{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-med, vars.$fs-md, vars.$clr-orange-300);
}