@use '../abstracts/vars';
@use '../abstracts/mixins';

.text-question {
    @include mixins.custom-font(vars.$clr-gray-400, vars.$fw-reg);

    text-decoration: underline;
    opacity: 0.8;
}

.text-orange {
    color: vars.$clr-orange-300;
}

.text-account {
    color: vars.$clr-orange-300;
    text-decoration: none;
    font-size: 1.25px;
    font-weight: vars.$fw-med;

}

.text-account:hover {
    color: vars.$clr-orange-50;
}

.text-forms {
    @include mixins.custom-font(vars.$clr-gray-400, vars.$fw-med);
}

.text-med{
    @include mixins.custom-font(vars.$clr-black, vars.$fw-med);
}

.user-name{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-med, vars.$fs-md, vars.$clr-orange-300);

    @include mixins.respond-to(vars.$phone){
        color: vars.$clr-white;
        display: flex;
        flex-direction: column;
    }
}

.link-title{
    text-decoration: none;
    color: vars.$clr-black;
}

.link-title:hover {
    color: vars.$clr-red-100;
}

.overflow-title {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.top-title {
    width: 21.875rem;
}