@use '../abstracts/vars';
@use '../abstracts/mixins';

.header-link{
    color: vars.$clr-white;
    text-decoration: none;
}

.navbar-orange {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.62rem 11.5rem;
    gap: 23.75rem;
    position: absolute;
    width: 120rem;
    height: 4.25rem;
    left: 0rem;
    top: 0rem;
    background: vars.$clr-orange-200;
    
}

.navbar-color {
    background: vars.$clr-orange-200;
    color: vars.$clr-white;
}

.li-responsive{
    @include mixins.respond-to(vars.$phone){     
        margin-top: 2rem;
    }
}
