@use '../abstracts/vars';
@use '../abstracts/mixins';

.header-link{
    color: vars.$clr-white;
    text-decoration: none;
}

.navbar-color {
    background: vars.$clr-orange-200;
    color: vars.$clr-white;
}

.li-responsive{
    @include mixins.respond-to(vars.$phone){     
        margin-top: 2rem;
    }
}
