@use '../abstracts/vars';
@use '../abstracts/mixins';

.badge-orange {
    @include mixins.basic-badge(vars.$clr-white, vars.$clr-orange-300, 0.12rem, 0.12rem);
}
.badge-green {
    @include mixins.basic-badge(vars.$clr-white, vars.$clr-green-100, 0.12rem, 0.12rem);
}

.badge-orange-big{
    @include mixins.basic-badge(vars.$clr-white, vars.$clr-orange-300, 0.12rem, 0.37rem);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    width: 5.75rem;
    height: 1.75rem;
    left: 1rem;
    top: 1rem;
}

.top-recipes-badge {
    @include mixins.basic-box(flex, row, center, 0.25rem, 2.62rem, 2rem, 0rem 0rem 0.25rem 0.25rem, vars.$clr-orange-300);
    justify-content: center;
    gap: 0.25rem;
    position: absolute;
    left: 1.5rem;
    top: 0rem;
    color: vars.$clr-white;
    
}