@use '../abstracts/vars';
@use '../abstracts/mixins';

//mixin btn-signup ($height, $width, $border-radius, $padding)
//btn-basic($display, $flex-direction, $align, $padding, $gap, $width, $height, $background, $border-radius,$border)

.btn-signup-dark {
    @include mixins.btn-signup (37px, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-200;
    font-size: 14px;
    color: vars.$clr-white;
    text-decoration: none;

    @include mixins.respond-to(vars.$large-desktop) {
        width: 400px;
    }
}

.btn-signup-dark:hover {
    color: vars.$clr-white;
}

.btn-signup-light {
    @include mixins.btn-signup (37px, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-50;
    font-size: 14px;
    text-decoration: none;
    color: vars.$clr-orange-300;

    @include mixins.respond-to(vars.$large-desktop) {
        width: 400px;
    }
}

.btn-signup-light:hover {
    color: vars.$clr-black;
}

.btn-circular {
    @include mixins.btn-basic(flex, row, flex-start, 0.37rem, 0, 2rem, 2rem, vars.$clr-orange-300, 100%, none);
}

.btn-item-list {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 10.5rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
}

.btn-admin-orange {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 6.12rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-admin-red {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 6.12rem, 1.87rem, vars.$clr-red-100, 0.5rem, none);
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.btn-add {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 12.12rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
}

.btn-search {
    background: vars.$clr-orange-50;
    border: 1px solid vars.$clr-orange-300;
    border-radius: 0.5rem;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-xxl-dark {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 436px, 35px, none, 0.5rem, none);
    justify-content: center;
    background-color: vars.$clr-orange-200;
    font-size: 14px;
    color: vars.$clr-white;
    text-decoration: none;
    font-weight: vars.$fw-med;
}

.btn-long-dark:hover {
    color: vars.$clr-white;
}

.hover-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.063rem) translateZ(0);
    transform: perspective(0.063rem) translateZ(0);
    box-shadow: 0 0 0.063rem rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    display: flex;
    justify-content: center;
}

.hover-grow:hover,
.hover-grow:focus,
.hover-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-hidden {
    @include mixins.respond-to(vars.$phone) {
        display: none;
    }
}

.btn-hidden-desk {
    @include mixins.respond-to(vars.$large-desktop) {
        display: none;
        position: relative;
    }
}

.btn-xl-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 406px;
    height: 37px;
    background: #FF9E45;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border: none;

    @include mixins.respond-to(vars.$phone) {
        width: 312px;
    }
}

.btn-xl-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 406px;
    height: 37px;
    background: #FFE0C2;
    border-radius: 8px;
    color: #FF6109;
    text-decoration: none;
    font-size: 14px;
    border: none;

    @include mixins.respond-to(vars.$phone) {
        width: 312px;
    }
}

.btn-md-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 295px;
    height: 30px;
    background: #FF9E45;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: vars.$clr-white;

    @include mixins.respond-to(vars.$phone) {
        display: none;
    }
}

.btn-md-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 295px;
    height: 30px;
    border: 1px solid #FF9E45;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #FF9E45;

    @include mixins.respond-to(vars.$phone) {
        display: none;
    }
}

.btn-sm-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 192px;
    height: 30px;
    background: #FF9E45;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: vars.$clr-white;
}

.btn-sm-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 192px;
    height: 30px;
    background: #FFE0C2;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #FF9E45;
}

.btn-sm-red {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 192px;
    height: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #FF4848;
}