@use '../abstracts/vars';
@use '../abstracts/mixins';

//mixin btn-signup ($height, $width, $border-radius, $padding)
//btn-basic($display, $flex-direction, $align, $padding, $gap, $width, $height, $background, $border-radius,$border)

.btn-signup-dark {
    @include mixins.btn-signup (2.313rem, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-200;
    font-size: 0.875rem;
    color: vars.$clr-white;
    text-decoration: none;

    @include mixins.respond-to(vars.$large-desktop) {
        width: 25rem;
    }
}

.btn-signup-dark:hover {
    color: vars.$clr-white;
}

.btn-signup-light {
    @include mixins.btn-signup (2.313rem, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-50;
    font-size: 0.875rem;
    text-decoration: none;
    color: vars.$clr-orange-300;

    @include mixins.respond-to(vars.$large-desktop) {
        width: 25rem;
    }
}

.btn-signup-light:hover {
    color: vars.$clr-black;
}

.btn-circular {
    @include mixins.btn-basic(flex, row, flex-start, 0.37rem, 0, 2rem, 2rem, vars.$clr-orange-300, 100%, none);
}

.btn-search {
    background: vars.$clr-orange-50;
    border: 0.063rem solid vars.$clr-orange-300;
    border-radius: 0.5rem;
    height: 2.5rem;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-xxl-dark {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 27.25rem, 2.188rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
    font-size: 0.875rem;
    color: vars.$clr-white;
    text-decoration: none;
    font-weight: vars.$fw-med;
}

.btn-long-dark:hover {
    color: vars.$clr-white;
}

.hover-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.063rem) translateZ(0);
    transform: perspective(0.063rem) translateZ(0);
    box-shadow: 0 0 0.063rem rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    display: flex;
    justify-content: center;
}

.hover-grow:hover,
.hover-grow:focus,
.hover-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.filter-category {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;

    @include mixins.respond-to(vars.$phone) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.625rem;
    }
}

.btn-xl-dark {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.375rem, 25.375rem, 2.313rem, vars.$clr-orange-200, 0.5rem, none);

    justify-content: center;
    font-size: 0.875rem;
    color: white;
    text-decoration: none;

    @include mixins.respond-to(vars.$phone) {
        width: 19.5rem;
    }
}

.btn-xl-light {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.375rem, 25.375rem, 2.313rem, vars.$clr-orange-50, 0.5rem, none);

    justify-content: center;
    color: #FF6109;
    text-decoration: none;
    font-size: 0.875rem;

    @include mixins.respond-to(vars.$phone) {
        width: 19.5rem;
    }
}

.btn-md-dark {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.375rem, 18.438rem, 1.875rem, vars.$clr-orange-200, 0.5rem, none);

    justify-content: center;
    text-decoration: none;
    font-size: 0.875rem;
    color: vars.$clr-white;

    @include mixins.respond-to(vars.$phone) {
        display: none;
    }
}