@use '../abstracts/vars';
@use '../abstracts/mixins';

//mixin btn-signup ($height, $width, $border-radius, $padding)
//btn-basic($display, $flex-direction, $align, $padding, $gap, $width, $height, $background, $border-radius,$border)

.btn-signup-dark {
    @include mixins.btn-signup (2rem, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-200;
    font-size: 0.80rem;
    color: vars.$clr-black;
    text-decoration: none;
}

.btn-signup-dark:hover {
    color: vars.$clr-white;
}

.btn-signup-light {
    @include mixins.btn-signup (2rem, 18.5rem, 0.5rem, 0.5rem 0.75rem 0.5rem 0.75rem);
    background-color: vars.$clr-orange-50;
    font-size: 0.80rem;
    text-decoration: none;
    color: vars.$clr-orange-300;

}

.btn-signup-light:hover {
    color: vars.$clr-black;
}

.btn-circular {
    @include mixins.btn-basic(flex, row, flex-start, 0.37rem, 0, 2rem, 2rem, vars.$clr-orange-300, 100%, none);
}

.btn-item-list {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 10.5rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
}

.btn-admin-orange {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 6.12rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-admin-red {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 6.12rem, 1.87rem, vars.$clr-red-100, 0.5rem, none);
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.btn-add {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 12.12rem, 1.87rem, vars.$clr-orange-200, 0.5rem, none);
    justify-content: center;
}

.btn-search {
    background: vars.$clr-orange-50;
    border: 1px solid vars.$clr-orange-300;
    border-radius: 0.5rem;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-long-dark {
    @include mixins.btn-basic(flex, column, center, 0.5rem 0.75rem, 0.37rem, 27.5rem, 1.87rem, none, 0.5rem, none);
    justify-content: center;
    background-color: vars.$clr-orange-200;
    font-size: 0.80rem;
    color: vars.$clr-black;
    text-decoration: none;
    font-weight: vars.$fw-med;
}

.btn-long-dark:hover {
    color: vars.$clr-white;
}

.hover-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.063rem) translateZ(0);
    transform: perspective(0.063rem) translateZ(0);
    box-shadow: 0 0 0.063rem rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    display: flex;
    justify-content: center;
}

.hover-grow:hover,.hover-grow:focus,.hover-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-hidden {
    @include mixins.respond-to(vars.$phone) {
        display: none;
    }
}

.btn-hidden-desk {
    @include mixins.respond-to(vars.$large-desktop) {
        display: none;
        position: relative;
    }
}