@use '../abstracts/vars';
@use '../abstracts/mixins';

//mixin.basic-box($display, $flex-direction, $align, $padding, $width, $height, $border-radius, $background-color)


//login and signup
.container-login {
    @include mixins.basic-box(flex, column, center, 1.5rem 1rem, 466px, 22.5rem, 0.75rem, vars.$clr-white);
    gap: 1rem;
}

.container-signup {
    border-radius: 0.75rem;
    background: vars.$clr-white;
    width: 31rem;

    //media-query
    @include mixins.respond-to(vars.$phone) {
        border-radius: 0.75rem;
        background: vars.$clr-white;
        max-width: 21.5rem;
    }
}

.container-item {
    @include mixins.basic-box(flex, row, flex-start, 0rem, 47.5rem, 3.5rem, none, none);
}

.container-pass-big {
    @include mixins.basic-box(flex, column, center, 1.5rem 1rem, 31rem, 270px, 0.75rem, vars.$clr-gray-95);
    gap: 1rem;
    position: absolute;
}

.container-pass-small {
    @include mixins.basic-box(flex, column, center, 1.5rem 1rem, 496px, 203px, 0.75rem, vars.$clr-gray-95);
    gap: 1rem;
    position: absolute;
    width: 496px;
height: 203px;
}


//recipes
.recipes-container {
    width: 90%;
    right: 0;
    margin-left: 110px;

    @include mixins.respond-to(vars.$phone) {
        margin-left: 2.3rem;
        width: 324px;
    }
}

.card-recipe {
    border: 0.063rem solid vars.$clr-gray-100;
    border-radius: 0.75rem;
    padding: 0px;
    min-width: 336px;
    max-height: 305px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.card-recipe-img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}



//top recipe
.card-top-recipe {
    display: flex;
    flex-direction: row;
    max-width: 670px;
    border: 0.063rem solid vars.$clr-gray-100;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
}

.text-container-top {
    margin-left: 0;
    width: 280px;
    flex: 1 1 50%;
}

.img-container-top {
    flex: 1 1 50%;
    height: 240px;
    width: 280px;
    object-fit: cover;

    @include mixins.respond-to(vars.$phone) {
        width: 325px;
        height: 110px;
        object-fit: cover;
    }
}

.top-recipe-img {
    width: 280px;
    height: 250px;

}

//user profile
.profile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;

    @include mixins.respond-to(vars.$phone) {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
    }
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 50px;
    gap: 32px;
    width: 364px;
    height: 860px;
    background-color: vars.$clr-orange-50;

    @include mixins.respond-to(vars.$phone) {
        width: 100%;
        height: 940px;
        margin-top: 0;
        color: vars.$clr-white;
        background-color: vars.$clr-orange-300;
    }
}

.text-user-container {
    width: 314px;
    height: 463px;

    @include mixins.respond-to(vars.$phone) {
        width: 326px;
        height: 196px;
    }
}

.img-detail {
    border: none;
    width: 598px;
    height: 598px;
    margin-right: 40px;

    @include mixins.respond-to(vars.$phone) {
        width: 344px;
        height: 234px;
        margin-bottom: 30px;
    }
}

.edit-container {
    @include mixins.respond-to(vars.$phone) {
        display: flex;
        flex-direction: column;
    }
}

///media queries
@include mixins.respond-to(vars.$phone) {
    .card-recipe {
        flex-direction: row;
    }

    .image-container {
        flex: 1 1 40%;
    }

    .detail-container {
        flex: 1 1 60%;
    }

    .card-recipe-img {
        height: 100%;
        object-fit: cover;
    }

    .card-top-recipe {
        flex-direction: column;
        width: 300px !important;
    }

    .top-recipe-img {
        width: 100%;
        max-height: 110px;
        object-fit: cover;
    }

    .detail-img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }

}

.btn-container {
    width: 1000px;
    margin-left: 580px;
}

